<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockSight - Stock Price Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('app_routes.home') }}">Home</a></li>
            <li><a href="{{ url_for('app_routes.index') }}">Prediction Page</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Stock Price Prediction</h1>
        <form action="/predict" method="post">
            <label for="ticker">Stock Symbol:</label>
            <input type="text" id="ticker" name="ticker" placeholder="Enter stock symbol (e.g., AAPL)" required>
            
            <label for="date">End Date (YYYY-MM-DD):</label>
            <input type="date" id="date" name="date" required>
            
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
